
    <section class="flex w-full p-10 rounded shadow-lg mt-4">
        <div class="w-2/12">
          
            {{investimento.name}}
        </div>
        <div class="w-2/12">
           {{investimento.valor}}
    
        </div>
        <div class="w-2/12">
            {{investimento.adicional}}
    
        </div>
        <div class="w-2/12">
            {{investimento.date}}
    
        </div>
        <div class="w-2/12">
            {{investimento.total}}
        </div>
        <div class="w-2/12  ">
            <button class="bg-blue-800  text-white font-medium rounded p-2">Visualizar</button>
            <button class="bg-red-600  text-white font-medium rounded p-2 m-2">Resgatar</button>
        </div>
    </section>

