
<h1 class="text-2xl text-center mt-4">Investimento <b>{{investimento.name}}</b></h1>

<div class="flex">
    <div class="w-6/12 m-6  shadow-2xl p-4 rounded">
        <h1 class="text-center text-2xl">DADOS</h1>
        <div >
            <div class="w-6/12 text-center">
               <div class="block"> Nome: {{investimento.name}}</div>
                <div class="block">Valor Investido: {{investimento.valor}}R$</div>
                <div class="block">Data Investimento: {{investimento.date}}</div>
                <div class="block">Total: {{investimento.total}}</div>
                <div class="block">Ultimo Adicionaal: {{investimento.adicional}}</div>
            </div>
        </div>
    </div>
        <div *ngIf="historico.length > 0 , else semHistorico" class="w-6/12 m-6  shadow-2xl p-4 rounded">
            <h1 class="text-center text-2xl">Historico</h1>
            <div *ngFor="let history of historico" class="flex ">
                <div class="w-6/12 text-center">Valor: {{history.value}} </div><div class="w-6/12 text-center">Data: {{history.date}}</div> 
            </div>
        </div>
    
</div>

<ng-template #semHistorico>
    <div>
        <p> sem historico cadastrado</p>
    </div>
</ng-template>

<form action="" class="shadow-2xl p-4 m-6" [formGroup]="historic">
    <div class="block">
     <label for="historic" class="text-center text-2xl block" >Novo Historico</label>
     <input 
        type="number" 
        formControlName="value" 
        class="w-3/12 h-12 p-4 rounded bg-gray-100" 
        placeholder="adicionar novo historico">
    </div>
    <div *ngIf="historic.get('value')?.errors?.['required'] && historic.get('value')?.touched" class="text-red-600 mt-2 ml-4" >
        O valor e obrigatorio!
    </div>
    <div *ngIf="historic.get('value')?.errors?.['minlength'] && historic.get('value')?.touched" class="text-red-600 mt-2 ml-4">
        O nome deve conter no minimo 3 caracteres
    </div>
     <button (click)="salvar()" [disabled]="!historic.valid" [ngClass]="validBtn()" class="bg-red-500 p-2 text-white rounded mt-2 font-semibold">Salvar</button>
 </form>