<header class="flex  h-20 bg-blue-600 w-full  text-white font-sans text-xl rounded-t p-4">
        <div class="w-3/12 font-semibold ">
            INVEST
        </div>

        <div class="w-6/12">
                
        </div>

        <div class=" w-3/12 flex gap-4 ">
            <button routerLink="investimentos" class="hover:bg-blue-800 rounded p-2 ">
                Investimentos
            </button>
            <button routerLink="register" class="hover:bg-blue-800 rounded p-2">
                Cadastrar
            </button>
            <button class="hover:bg-blue-800 rounded p-2" >
                Historico
            </button>
        </div>
</header>